
mixin s-catalog()
	// start s-catalog
	+b.SECTION.s-catalog--stock.pt-0.section&attributes(attributes)
		+e.head.bg-danger
			.container
				.row
					.col 
						h2 Текущие акции
					.col-auto
						+b.arrow-wrap
		.container
			+e.slider-3--js
				- for (var x = 0; x < 5; x++)
					+e.slide--gor
						+prod('sl','1','Погружной насос для чистой воды Metabo TP 8000 S 0250800000') 
							+b.prod-labels
								+e.item--stock Скидка
								+e.item--hit Хит продаж
	// end s-catalog
mixin s-catalog-2()
	// start s-catalog
	+b.SECTION.s-catalog--new.pt-0.section&attributes(attributes)
		+e.head.bg-body
			.container
				.row
					.col 
						h2 Новинки магазина
					.col-auto
						+b.arrow-wrap
		.container
			+e.slider-6--js
				+e.slide--gor
					+prod('sl',2,'Снегоуборщик Yanis Blizzard ME24DL','42 900 руб.','')
						+b.prod-labels
							+e.item--stock Скидка
							+e.item--hit Хит продаж
				- for (var y = 0; y < 2; y++)
					- for (var x = 0; x < 5; x++)
						+e.slide--gor
							+prod('sl',x + 3,'Снегоуборщик Yanis Blizzard ME24DL','42 900 руб.','') 
					
	// end s-catalog
mixin s-catalog-3()
	// start s-catalog
	+b.s-catalog.pt-0.section&attributes(attributes)
		+e.control
			form
				label
					strong Сортировать:
					select
						option Сначала дешёвые
						option Сначала дорогие
		+e.row.row  
			- for (var y = 0; y < 5; y++)
				- for (var x = 0; x < 5; x++)
					+e.col.col-xxl.col-lg-4.col-sm-6
						+prod('col',x + 3,'Бензопила STIHL MS 260-16" 11212000423','30 990 руб.','') 
					
	// end s-catalog
