mixin footer()
	+b.FOOTER.footer.block-with-lazy
		.container
			.row
				mixin item(t,...items)
					+e.col.col-xl-3.col-md-6
						+e.title= t
						if block
							block
						else
							nav
								ul
									each item in items
										li
											+e.nav-link(href="#")= item
				+item("КАБИНЕТ ПОКУПАТЕЛЯ",'Войти','Регистрация','Политика конфидициальности')
				+item("Магазин",'О компании','Реквизиты','Адреса магазинов')
				+item("Оформление заказа",'Доставка и оплата','Возврат и обмен','Гарантия')
				+item("Контакты")
					p г. Москва, ул. Дмитровское шоссе, д.62с5
						br
						a(href="tel:+74951208090") +7 495 120 80 90
						br
						| Пн-Пт 10:00 - 20:00
						br
						| Сб-Вс 10:00 - 18:00
						br
						a(href="mailto:info@tehnosadov.ru") info@tehnosadov.ru
						br
						a(href="#") Посмотреть на карте
		+e.footer
			.container
				.text-center
					+soc()
				p 
					strong Товары для дома и сада «Техносадов» ® 2018-2019
					br
					| Сайт носит информационный характер и не является публичной офертой, определяемой положениями ч.2 ст. 437 ГК РФ. Внешний вид, цвет и характеристики товаров указаны ориентировочно, могут не совпадать с обновленными моделями — уточняйте информацию у менеджеров при заказе.