.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-basket {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.icon-basket-plus {
	font-size:(19/10)*1rem;
	width:(19/19)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-compare {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.icon-fb {
	font-size:(21/10)*1rem;
	width:(12/21)*1em;
}
.icon-google {
	font-size:(21/10)*1rem;
	width:(20/21)*1em;
}
.icon-login {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.icon-mark {
	font-size:(18/10)*1rem;
	width:(14/18)*1em;
}
.icon-ok {
	font-size:(21/10)*1rem;
	width:(12/21)*1em;
}
.icon-search {
	font-size:(20/10)*1rem;
	width:(19/20)*1em;
}
.icon-star {
	font-size:(12/10)*1rem;
	width:(13/12)*1em;
}
.icon-tel {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.icon-vk {
	font-size:(12/10)*1rem;
	width:(20/12)*1em;
}
.icon-ya {
	font-size:(21/10)*1rem;
	width:(10/21)*1em;
}
