mixin s-about()
	// start s-about
	+b.SECTION.s-about.section#s-about&attributes(attributes)
		.container
			+e.block
				+e.title
					h1 О нас
				+e.body
					+e.img-wrap
						img(src='img/@2x/contacts-i.jpg' alt='')
					+e.subtitle «Техносадов»- это динамично развивающаяся компания, работающая как на розничном рынке, так и в оптовом направлении. Наша компания работает со всеми ведущими производителями садовой техники и инструмента.
					+e.text Открывая розничные магазины сравнительно большой площади, мы постарались познакомить наших клиентов с максимально большим ассортиментом предлагаемой нами продукции. Конечно, мы не можем разместить в розничном магазине более чем сорока тысячный ассортимент нашего интернет-магазина, в тоже время, наши продавцы консультанты, имеют достаточную квалификацию, и могут, как продемонстрировать по имеющейся продукции, так и объяснить различия и проконсультировать по продукции, представленной лишь в интернет-магазине.<br>Наш персонал постоянно обучается и тестируется в учебных центрах производителей, посещает тест драйвы и мастер классы, что является неотъемлемой частью работы напрямую с производителями. Столь 	плотное сотрудничество помогает предоставить нашим клиентам, как квалифицированную консультацию в подборе техники, так и заказать отсутствующую деталь или изделие – напрямую с завода изготовителя.

	// end s-about