extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-map/_s-map.pug
include ../blocks/s-basket/_s-basket.pug
include ../blocks/s-why/_s-why.pug
include ../blocks/s-contacts/_s-contacts.pug
include ../blocks/s-markets/_s-markets.pug
include ../blocks/s-contacts-form/_s-contacts-form.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Контакты'
	title= title
block pagecontent 
	+mob-mnu()
	+header()
		+top-line()
		+top-nav()
	+breadcrumb('Главная',title)
	+s-contacts
	+s-map()
	+s-markets()
	+s-contacts-form()
	+s-form
	+footer()