mixin s-categories()
	// start s-categories
	+b.s-categories.section#s-categories&attributes(attributes)
		.container
			.row
				-
					var nav= [
						'Цепные пилы',
						'Инструмент для работы в лесу',
						'Сумки, футляры',
						'Перчатки',
						'Одежда и обувь',
						'Защиты каски, наушники, очки',
						'Свечи и фильтры',
						'Масла, смазки и очистители',
						'Направляющие шины',
						'Пильные цепи',
						'Триммеры',
						'Высоторезы',
						'Комбисистема',
						'Садовые измельчители',
						'Опрыскиватели и распылители',
						'Садовые ножницы',
						'Воздуходувки',
						'Резчики',
						'Бензобуры',
						'Минимойки',
						'Пылесосы',
						'Подметальные машины',
						'Садовые трактора',
						'Культиваторы',
						'Аэраторы',
						'Роботы-газонокосилки',
						'Газонокосилки',
						'Аксессуары и принадлежности',
					]
				each linkName in nav
					+e.col.col-xl-2.col-lg-3.col-sm-4.col-6
						+e.item(href="#")
							+e.DIV.img-wrap
								img.lazy.res-i(src="#" data-src=`img/@2x/category-${nav.indexOf(linkName) + 1}.jpg`, alt="")
							+e.DIV.title= linkName
	// end s-categories