
mixin menu-catalog()
	+b.menu-catalog
		+e.toggle
			+b.toggle-menu-mobile.d-none.d-xl-block
				span
			| Каталог товаров
		+b.NAV.menu-catalog-dropdown
			-
				var nav= {
					"Продукция Stihl и Viking":"#","Техника для сада":"#","Строительный инструмент":"#","Садовый инвентарь":"#","Водоснабжение и полив":"#","Энергоснабжение":"#","Сварочное оборудование":"#","Средства защиты":"#","Расходные материалы":"#",
					}
			+e.UL.list
				each linkPatch, linkName in nav
					+e.LI.item
						+e.link(href="#")= linkName
						+e.toggle-sub
						+b.UL.sub-menu
							-
								var nav= {
									"Цепные пилы":"#","Инструмент для работы в лесу":"#","Сумки, футляры":"#","Перчатки":"#","Одежда и обувь":"#","Защиты каски, наушники, очки":"#","Свечи и фильтры":"#","Масла, смазки и очистители":"#","Направляющие шины":"#","Пильные цепи":"#","Триммеры":"#","Высоторезы":"#","Комбисистема":"#","Садовые измельчители":"#","Опрыскиватели и распылители":"#","Садовые ножницы":"#","Воздуходувки":"#","Резчики":"#","Бензобуры":"#","Минимойки":"#","Пылесосы":"#","Подметальные машины":"#","Садовые трактора":"#","Культиваторы":"#","Аэраторы":"#","Роботы-газонокосилки":"#","Газонокосилки":"#","Аксессуары и принадлежности":"#",
								 
									} 
							each linkPatch, linkName in nav
								+e.LI.item
									+e.link(href="#")= linkName


mixin mob-mnu()

	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
		
			+mnu()
			.text-right
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		+b.toggle-menu-mobile--js.d-xl-none
				span
		+e.inner
			.container
				.row
					.col-xl-auto
						+menu-catalog()
					.col
						+mnu()
						
	// end top-nav