mixin s-payment(t, c)
	// start s-payment
	+b.SECTION.s-payment.section#s-payment&attributes(attributes)
		+e.H5.title=t
		+e.body
			if c == '1'
				p
					strong Уважаемые покупатели!
				p По Москве и Московской области, доставка товаров, представленных в нашем магазине, осуществляется собственной службой доставки.
				p Доставка в регионы России осуществляется при помощи наших партнеров –  транспортных компаний.
				<br>
				h5 Стоимость доставки по Москве (в пределах МКАД)
				<br>
				p Доставка по Москве осуществляется в режиме работы:
				p
					strong Будние дни: 10:00 — 22:00
				p
					strong Выходные 
					| и праздничные дни: 10:00 — 18:00
				p В двух временных интервалах:
				p 10:00 — 18:00
				p 19:00 — 22:00
				<br>
				p При общей стоимости заказа до 10 000 рублей — 350 рублей;
				p При общей стоимости заказа свыше 10 000 рублей — бесплатно.
				<br>
				h5 Стоимость доставки по Московской области ( за пределы МКАД)
				p
					strong Стоимость доставки МКАД 
					| рассчитывается исходя из стоимости доставки по Москве (в пределах МКАД) + 30 руб./км.
				<br>
				p В виду серьёзной сложности с парковкой в городе, Доставка осуществляется до подъезда (без подъёма на этаж)!
				<br>
				p Доставка в регионы России
				<br>
				p
					strong Доставка в регионы России, 
					| осуществляется любой выбранной Вами транспортной компанией. Мы рекомендуем: ЖелДорЭкспедиция, СДЭК, Первая Экспедиционная Компания
				<br>
				p Стоимость доставки до ТК будет такой же как по Москве, для расчета стоимости доставки в ваш регион воспользуйтесь калькулятором на сайте ТК или у наших менеджеров по телефону. Для расчета вам понадобятся данные о весе товара и его габаритах, их вы можете найти в характеристиках товара на нашем сайте.
				<br>
				p Расчет стоимости доставки
				<br>
				+e.deliver-block
					mixin deliver-i(i, t)
						+e.A.deliver-item(href='#')
							.row
								.col-auto
									+e.deliver-title
										img(src=`img/deliver-i${i}.png` alt='#')
										=t
								.col-auto
									+e.deliver-price
										+e.deliver-text Рассчитать стоитмость
										+icon('calc')

					+deliver-i('1','ЖелДорЭкспедиция')
					+deliver-i('2','СДЭК')
					+deliver-i('3','ПЭК')
				p
					strong Доставка в регионы осуществляется по предоплате!
				<br>
			if c == '2'
				strong Уважаемые покупатели!
				<br>
				p В нашем магазине вы можете оплатить Ваш товар наличными или безналичным способом.
				<br>
				+e.type-block
					+e.type-item
						+e.icon-wrap
							+icon('type1')
						+e.type-descr
							+e.type-title Оплата наличными
							+e.type-text Расплатиться наличными можно с курьером при доставке заказа или в наших розничных магазинах.
					+e.type-item
						+e.icon-wrap
							+icon('type2')
						+e.type-descr
							+e.type-title Оплата банковской картой
							+e.type-text Пластиковой картой Visa, MasterCard, Maestro при получении товара <br>(только в розничных магазинах).
					+e.type-item
						+e.icon-wrap
							+icon('type3')
						+e.type-descr
							+e.type-title Безналичным расчёт для юридических лиц
							+e.type-text Пришлите Ваши реквизиты на почту 
								a(href='mailto:info@tehnosadov.ru') info@tehnosadov.ru<br>
								| или сделайте заказ на сайте и мы выставим счет.
			if c == '3'
				p Как это работает:
				<br>
				p Вы выбрали товар в интернет-магазине и хочу приобрести его в кредит. Что делать?
				p Добавьте товар в корзину;
				p Способом оплаты укажите «Купить в кредит»;
				p После оформления заказа, Вы переместитесь на сайт Банка для заполнения анкеты на кредит
				<br>
				p Теперь вам необходимо заполнить анкету на кредит
				<br>
				p  ШАГ 1. - в появившемся калькуляторе подберите условия по кредиту, а так же место для подписания кредитных документов.
				p  ШАГ 2. - заполните анкету на кредит и нажмите кнопку отправить (если хотите заполнить заявку по телефону)
				p - если вы все же желаете заполнить заявку самостоятельно, нажимайте «далее»  и заполняйте оставшиеся поля.
				p  ШАГ 3. - на указанный вами телефон придет СМС с кодом, который необходимо ввести для подтверждения.
				p  ШАГ 4. - решение Банка мы сообщим: в смс, на указанный вами e-mail  и на экран вашего монитора.
				<br>
				p Банк одобрил мою заявку. Что делать дальше?
				p Вам необходимо обратиться в ближайшую точку продаж Альфа-Банка в вашем городе. При заполнении заявки, вы увидите соответствующие поля.
				p После подписания Вам остается ждать доставки товара.
				<br>
				p Мне привезли товар. Что теперь?
				<br>
				p Теперь Вам остается внести первоначальный взнос курьеру – (ели вы указывали его при заполнении заявки на кредит) и получать удовольствие от приобретенного Вами товара или услуги!
				<br>
				p Требования к заёмщикам:
				p Если Вам исполнилось 19 лет (для женщин) и 20 лет (для мужчин);
				p У Вас есть постоянная регистрация на территории РФ
				p Есть постоянное место работы, стаж не менее 3 месяцев;
				p Нет просроченной задолженности по кредитам – смело обращайтесь к консультанту для оформления кредита.*
				<br>
				p * АО «АЛЬФА-БАНК» оставляет за собой право отказать в предоставлении кредита без объяснения причин.
				<br>
				<br>
				p Условия кредитования:
				p Кредит предоставляется сроком от 6 до 24 месяцев. Вы можете самостоятельно выбрать удобный для вас срок в рамках указанного диапазона.
				<br>
				p Валюта кредита: рубли.
				p Кредитный лимит: для Москвы и МО – от 10 000  руб. до 200 000 руб.;
				p Комиссия за обслуживание текущего кредитного счета: 0 %
				p Комиссия за предоставление кредита: 0 рублей.
				<br>
				p Погашение кредита осуществляется ежемесячно равными частями, согласно графику погашения, рассчитанному при оформлении кредита.
				p Возможно полное досрочное погашение* задолженности по кредиту, плат и штрафов за полное досрочное погашение не взимается!
				<br>
				p * Полное досрочное погашение осуществляется в соответствии с «Общими условиями предоставления физическим лицам Потребительского кредита в ОАО «Альфа-Банк».
				<br>
				p Простые действия – Быстрый результат! (По документам)  
				<br>
				p Наши сотрудники помогут подобрать наиболее подходящий вариант кредита с учетом Ваших индивидуальных потребностей.
				p Сотрудник расскажет Вам обо всех условиях оформления кредита. Для оформления кредита необходим – паспорт гражданина Российской Федерации.
				p Погашение кредита:
				p Внесение средств для погашения задолженности по кредиту через банкоматы/устройства с функцией внесения наличных осуществляется бесплатно более чем в 300 городах России. (Внесение средств для погашения задолженности по кредиту через банкоматы/устройства с функцией внесения наличных АО «АЛЬФА-БАНК» осуществляется бесплатно. При использовании платежных систем – партнеров АО «АЛЬФА-БАНК» взимается комиссия со стороны данных платежных систем).
				<br>
				p Более подробную информацию об условиях потребительского кредита АО «АЛЬФА-БАНК» Вы можете узнать на сайте 
					a(href='www.alfabank.ru') www.alfabank.ru 
					| и в круглосуточном Телефонном центре «Альфа-Консультант» по телефонам:
				p
					a(href='tel:88002000000') 8 (800) 200-00-00 
					| (для регионов) и 
					a(href='tel:+74957888878') +7 (495) 788-88-78 
					| (для Москвы).
				<br>
				p Кредит предоставляет АО "АЛЬФА-БАНК", Генеральная лицензия Банка России на осуществление банковских операций №1326 от 15 января 2015г.
				<br>
				
				

					
			
			
	// end s-payment