mixin s-prod-body()
	// start s-prod-body
	+b.SECTION.s-prod-body.section#s-prod-body&attributes(attributes)
		.container
			+b.tabs--js
				+e.caption
					+e.btn.active
						+icon("tab-1")
						| Описание
					+e.btn
						+icon("tab-2")
						| Характеристики
					
					+e.btn
						+icon("tab-3")
						| Аксессуары
					
					+e.btn
						+icon("tab-4")
						| Отзывы
				+e.wrap.panel-white
					mixin cont()
						+e.content&attributes(attributes)
							p 
								strong Бензопила MS&nbsp;260 16&nbsp;шина 40&nbsp;см&nbsp;&mdash; достаточно популярный, долговечный, 
								| 
								| легкий, компактный и&nbsp;универсальный электроинструмент среднего класса мощности. Универсальное применение при окультуривании и&nbsp;прореживании, при проходных рубках в&nbsp;чащах и&nbsp;небольших строевых лесах, при строительстве и&nbsp;заготовке дров, расчистки просек, прореживания насаждений, выполнении плотницких и&nbsp;строительных работ. Устройство будет очень полезно в&nbsp;фермерском хозяйстве. Прибором можно пользоваться на&nbsp;протяжении всего дня. Агрегат обладает высокой износоустойчивостью. Металлическая защита картера и&nbsp;сам корпус инструмента, имеющий много металлических частей, улучшают теплоотдачу и&nbsp;позволяют избежать перегрева, что важно при интенсивной эксплуатации устройства. Карбюратор с&nbsp;компенсатором предотвращает потерю мощности при увеличении загрязнения воздушного фильтра.

							p Бензопила MS&nbsp;260 16&nbsp;шина 40&nbsp;см имеет декомпрессионный клапан, который обеспечивает легкий запуск прибора в&nbsp;любых условиях. Агрегат оснащен&nbsp;16&Prime; шиной с&nbsp;пазом 1,6 и&nbsp;шагом 0,325&Prime;, что гарантирует выполнение работ по&nbsp;древесине с&nbsp;высокой производительностью.
							p
								strong  Особенности и преимущества MS 260 16 шина 40 см:
							ul
								li Износоустойчивость
								li Металлическая защита картера
								li Долгий срок службы
								li Декомпрессионный клапан
								li В пусковую рукоятку встроен амортизатор
								li Дополнительный прогрев при помощи горячего воздуха
								li Антивибрационная система
								li Малый вес
								li Компактность
								li Легкий запуск
								li Высокая производительность
								li Система смазки цепи Ematic
							h5 Оснащение
							.row
								mixin item(i,t,p)
									+e.item.col-xl-6
										.row
											.col-sm-auto
												img.lazy(src="#" data-src=`img/@2x/tab-img-${i}.jpg`, alt="")
											.col
												.strong= t
												p= p
								+item('1','Тормоз QuickStop для моментальной остановки цепи','Цепной тормоз QuickStop - это защитный механизм при работе с бензопилами. Цепной тормоз срабатывает при нажатии на передний упор для рук и за считанные доли секунды останавливает пильную цепь. При достаточно сильной отдаче цепной тормоз QuickStop срабатывает автоматически.')
								+item('2','Антивибрационная система','Сильная вибрация в зоне рукояток может привести к хроническим нарушениям кровообращения в руках. Поэтому компания STIHL разработала высокоэффективную антивибрационную систему (АС). У инструментов с АС вибрация двигателя передающаяся на рукоятки заметно снижается.')
								+item('3','Компенсатор','Компенсатор STIHL - регулирующий орган в карбюраторе - обеспечивает почти постоянные мощность двигателя, качество выхлопа и расход топлива в течение длительного времени несмотря на увеличивающееся загрязнение воздушного фильтра. Прочищать воздушный фильтр требуется только при ощутимом падении мощности. Становится возможной работа в течение длительного времени без техобслуживания.')
								+item('4','Боковое устройство натяжения цепи','Доступ к натяжному винту обеспечивается сбоку через крышку цепной звёздочки. Это предотвращает контакт рук с острой цепью и кончиками зубчатого упора.')
								+item('5','Система смазки цепи Ematic','Система STIHL Ematic состоит из направляющей шины Ematic, пильной цепи Oilomatic и масляного насоса с регулируемой подачей. Особая конструкция шины и цепи заставляет каждую каплю масла попасть именно туда, где оно требуется для смазывания. Это позволяет сократить расход масла на 50 %.')
								+item('6','Однорычажное управление','Такими функциями машины, как холодный и горячий запуск, работа и выключение, управляет отдельный рычаг. Это делает управление особенно удобным и безопасным, так как правая ладонь остается на рукоятке')
								+item('7','Предварительный подогрев карбюратора','На бензопилы STIHL с подогреваемым карбюратором можно положиться даже зимой. В зимнем режиме карбюратор обдувается подогретым всасываемым воздухом, что предотвращает обледенение. Переключение с летнего режима на зимний производится одним движением руки.')
								+item('8','Декомпрессионный клапан','Декомпрессионный клапан при запуске двигателя выпускает часть сжатой смеси из цилиндра. В результате требуемое усилие тяги на пусковом тросе заметно снижается. Оператору становится легче работать, и вся система пуска менее интенсивно изнашивается.')
								+item('9','Насос подачи смазки','Позволяет точно дозировать масло в зависимости от потребности. 50-процентное уменьшение подачи масла возможно при маркировке "Е". При длинной пильной гарнитуре или при очень сухой древесине возможно установить дополнительную подачу масла (см. иллюстрацию).')
								+item('10','Катализатор','Вредные выхлопы инструментов могут вызвать раздражение глаз и слизистой оболочки и загрязняют окружающую среду. Впервые разработанный компанией STIHL катализатор (D) для бензопил сокращает долю вредных углеводородов в выхлопе на 80 %.')
								+item('11','STIHL ElastoStart','В результате давления сжатия при запуске двухтактных двигателей возникают толчкообразные силы, нагружающие мышцы и суставы. Пусковое устройство ElastoStart заметно уменьшает эти вредные воздействия. Специальный демпфирующий элемент в ручке пускового устройства попеременно то принимает на себя, то отдает энергию соответственно процессу сжатия. Таким образом, запуск происходит равномерно, без толчков. (см. иллюстрацию)')
								+item('12','Топливный бак с крышкой, открываемой без инструмента','Специальные запатентованные крышки для баков с топливом и маслом. Баки, при их наличии, открываются и закрываются легко, быстро и без инструмента.')
					+cont()(class="active")
					+cont()
					+cont()
					+cont()
	// end s-prod-body