mixin s-content(h2="Садовая техника в Москве",p="Работы на даче и приусадебном участке сложно представить без использования садовой техники и инвентаря. Специализированное оборудование необходимо коммунальщикам и специалистам по ландшафтному дизайну. С помощью механизированных средств и эргономичного инвентаря сложные задачи решаются с минимальными физическими усилиями, быстро и качественно. Наш интернет магазин предлагает широкий ассортимент продукции ведущих мировых производителей по доступным ценам. Розничные и оптовые покупатели смогут приобрести в Москве садовую технику и строительные инструменты для выполнения широкого спектра работ.")
	// start s-content
	+b.s-content.section.block-with-lazy#s-content&attributes(attributes)
		.container
			+e.inner
				+e.inner-head
					h2= h2
				p= p
				.strong
					a.more(href="#") Подробнее...
	// end s-content