mixin s-stock()
	// start s-stock
	+b.s-stock.section#s-stock&attributes(attributes)
		.container
			+e.row.row
				mixin stock-i(i, a, t, d, m)
					+e.col.col-xl-3.col-sm-6
						+e.A.item(href='#')
							+e.DIV.img-wrap
								img(src=`img/@2x/stock${i}.jpg` alt='')
							+e.DIV.date=a
							+e.DIV.title=t
							+e.DIV.text=d
							+e.DIV.add=m
				+stock-i('1','Акция действует с 23 февраля по 31 марта 2019 г.','Моторное масло в подарок','В корзине выбирите из списка желаемое моторное масло для Вашей техники, и Вы получите его абсолютно бесплатно*.','* количесвто подарков ограничено')
				+stock-i('2','Акция действует с 01 марта по 31 мая 2019 г.','Постоянная скидка 5%','Всем предъявителям листовки акции компании оформляется постоянная скидка в размере 5%*','* листовки распространяются по Москве и в г.Пушкино')
				+stock-i('3','Акция действует с 23 февраля по 31 марта 2019 г.','Встречаем Масленицу','Скидки до 5% на садовую технику Yanis*','* количесвто товара ограничено')
				+stock-i('4','Акция действует с 23 февраля по 31 марта 2019 г.','Скидки прекрасным женщинам','Нашим покупательницам дарим скидку 8% на весь ассортимент магазина*','* количесвто товара ограничено')

	// end s-stock