mixin service-info()
	// start service-info
	+b.service-info.section#service-info&attributes(attributes)
		p
			strong Сервисный Центр ТЕХНОДАЧА
			| – это современный сервисный центр:
		ul
			li открывший свои двери после реконструкции весной 2016 года;
			li имеющий удобное географическое расположение, благодаря чему в Сервисный Центр можно оперативно добраться из любой точки города, причем как на автомобиле, так и на общественном транспорте;
			li оснащенный оборудованием и инструментом от ведущих мировых производителей (Hazet, Snap-on, Chiсago Pneumatic, Tissel, Bosch Professional);
			li имеющий статус официального сервисного партнера более чем 20 всемирно известных брендов, среди которых: (Honda, Stihl, Viking, Husqvarna, Partner, McCulloch, Gardena, Flymo, MTD, Cub Cadet, Wolf-Garten, Bosch, Green Works, Echo, Champion, AL-KO, SOLO, EUROPOWER, Briggs & Stratton, Zongshen, Koshin, Daishin, Lavor, LAVOR Pro, Karcher;
			li славящийся своими техническими специалистами, которые регулярно проходят обучения и обладают действующими сертификатами от ведущих мировых производителей.
		p Сервис ТЕХНОДАЧА<br>Сервисный Центр ТЕХНОДАЧА осуществляет продажу оригинальных запасных частей и расходных материалов, а также предлагает своим клиентам широкий перечень услуг:
		ul
			li диагностику техники;
			li плановое техническое обслуживание (ТО);
			li гарантийный ремонт садовой техники;
			li ремонт любой сложности по истечении гарантийного срока;
			li установку аксессуаров и навесного оборудования.
		p Ремонт садовой техники в ТЕХНОДАЧА<br>В сервисном Центре ТЕХНОДАЧА сочетаются скорость обслуживания, качество выполняемых работ и индивидуальный подход к каждому клиенту (при безусловном соблюдении технологий ремонта согласно регламентам соответствующих производителей).
		p В Центре есть выставочный зал с самыми популярными моделями техники Honda, Stihl и Viking, которые можно приобрести на месте.
		p Наш адрес: Москва, ул. 4-я Магистральная, д. 11.
		p График работы: Понедельник-Пятница (с 9 до 21).
		p Записаться на ремонт или обслуживание можно по телефону 
			a(href='tel:84957983315') 8 (495) 798-33-15 
			| и почте 
			a(href='mailto:sc@technodacha.ru.') sc@technodacha.ru.

	// end service-info